body {
    font-family: Arial;
    background: lightcyan;
    padding: 40px;
}

.box {
    width: 60%;
    margin: auto;
    background: whitesmoke;
    padding: 100px;
    border-radius: 15px;
    box-shadow: 0 0 100px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
}

label {
    cursor: pointer;
    margin-bottom: 8px;
    display: inline-block;
}

button {
    margin-top: 20px;
    padding: 12px 20px;
    background: blue;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: deepskyblue;
}